<!-- question_list.html -->
<!-- base.html 템플릿 파일을 상속받고자 % extends 'base.html' % 템플릿 태그를 사용했다. 
	그리고 % block content %와 % endblock % 사이에 question_detail.html 파일에서만 사용할 내용을 작성했다. 
	이제 question_list.html은 base.html을 상속받았으므로 표준 HTML 구조를 갖추게 되었다. -->
{% extends 'base.html' %}
{% block content %}

<!-- container, my-3, thead-dark 등이 바로 부트스트랩이 제공하는 클래스 -->
<!-- https://getbootstrap.com/docs/4.5/getting-started/introduction/ -->
<!-- 질문의 일련번호는 {{ forloop.counter }} -->
<!-- {{ forloop.counter }}는 % for ... % 에서 반복 시 자동으로 매겨지는 순섯값을 의미한다. -->
<div class="container my-3">
	<table class="table">
		<thead>
			<tr class="thead-dark">
				<th>번호</th>
				<th>제목</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>
			{% if question_list %} {% for question in question_list %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>
					<a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
				</td>
				<td>{{ question.create_date }}</td>
			</tr>
			{% endfor %} {% else %}
			<tr>
				<td colspan="3">질문이 없습니다.</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>

{% endblock %}