<!-- question_detail.html -->
<!-- base.html 템플릿 파일을 상속받고자 % extends 'base.html' % 템플릿 태그를 사용했다. 
	그리고 % block content %와 % endblock % 사이에 question_detail.html 파일에서만 사용할 내용을 작성했다. 
	이제 question_detail.html은 base.html을 상속받았으므로 표준 HTML 구조를 갖추게 되었다. -->
{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
	<!-- 사용자오류 표시 -->
	<!-- 물론 수정은 로그인 한 사용자와 글 작성자가 동일한 경우에만 가능하기 때문에 이 오류가 표시될 일은 없을 것이다. 
		하지만 비 정상적인 방법으로 질문을 수정을 하거나 상세화면에서 모든 로그인 사용자에게 <수정> 버튼을 노출한다면 
		오류를 보여주어야 하므로 필요한 부분이다. -->
	{% if messages %}
	<div class="alert alert-danger my-3" role="alert">
		{% for message in messages %}
			<strong>{{ message.tags }}</strong>
			<ul><li>{{ message.message }}</li></ul>
		{% endfor %}
	</div>
	{% endif %}
	<h2 class="border-bottom py-2">{{ question.subject }}</h2>
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line">
				{{ question.content }}
			</div>
			<div class="d-flex justify-content-end">
				<!-- 작성일시 왼쪽에 수정일시 추가 -->
				{% if question.modify_date %}
        <div class="badge badge-light p-2 text-left mx-3">
					<div class="mb-2">modified at</div>
					<div>{{ question.modify_date }}</div>
        </div>
        {% endif %}
				<div class="badge badge-light p-2 text-left">
					<div class="mb-2">{{ question.author.username }}</div>
					<div>{{ question.create_date }}</div>
				</div>
			</div>
			<!-- 질문 수정 / 삭제 버튼은 로그인한 사용자와 글쓴이가 같은 경우에만 보여야 하므로 -->
			{% if request.user == question.author %}
        <div class="my-3">
          <a href="{% url 'pybo:question_modify' question.id  %}" class="btn btn-sm btn-outline-secondary">
						수정
					</a>
					<!-- <삭제> 버튼은 <수정> 버튼과는 달리 href 속성값을 "#"로 설정했다. 
						그리고 삭제를 실행할 URL을 얻기 위해 data-uri 속성을 추가하고, 
						<삭제> 버튼이 눌리는 이벤트를 확인할 수 있도록 class 속성에 "delete" 항목을 추가해 주었다. -->
					<!-- data-uri 속성은 제이쿼리에서 $(this).data('uri')와 같이 사용하여 그 값을 얻을 수 있다. -->
					<a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'pybo:question_delete' question.id  %}">
						삭제
					</a>
        </div>
      {% endif %}
		</div>
	</div>
	<!-- 등록된 답변 표시하기 -->
	<h5 class="border-bottom my-3 py-2">
		{{question.answer_set.count}}개의 답변이 있습니다.
	</h5>
	{% for answer in question.answer_set.all %}
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line">
				{{ answer.content }}
			</div>
			<div class="d-flex justify-content-end">
					<!-- 작성일시 왼쪽에 수정일시 추가 -->
				{% if answer.modify_date %}
				<div class="badge badge-light p-2 text-left mx-3">
					<div class="mb-2">modified at</div>
					<div>{{ answer.modify_date }}</div>
				</div>
				{% endif %}
				<div class="badge badge-light p-2 text-left">
					<div class="mb-2">{{ answer.author.username }}</div>
					<div>{{ answer.create_date }}</div>
				</div>
			</div>
			<!-- 답변 수정 / 삭제 버튼은 로그인한 사용자와 글쓴이가 같은 경우에만 보여야 하므로 -->
			{% if request.user == answer.author %}
        <div class="my-3">
					<a href="{% url 'pybo:answer_modify' answer.id  %}" class="btn btn-sm btn-outline-secondary">
						수정
					</a>
					<!-- <삭제> 버튼은 <수정> 버튼과는 달리 href 속성값을 "#"로 설정했다. 
					그리고 삭제를 실행할 URL을 얻기 위해 data-uri 속성을 추가하고, 
					<삭제> 버튼이 눌리는 이벤트를 확인할 수 있도록 class 속성에 "delete" 항목을 추가해 주었다. -->
					<!-- data-uri 속성은 제이쿼리에서 $(this).data('uri')와 같이 사용하여 그 값을 얻을 수 있다. -->
					<a href="#" class="delete btn btn-sm btn-outline-secondary " data-uri="{% url 'pybo:answer_delete' answer.id  %}">
						삭제
					</a>
        </div>
      {% endif %}
		</div>
	</div>
	{% endfor %}
	<!-- % csrf_token %}는 form 엘리먼트를 통해 전송된 데이터(답변)가 실제로 
	웹 브라우저에서 작성된 데이터인지 판단하는 검사기 역할을 한다. 
	그러므로 <form ...> 태그 바로 밑에 {% csrf_token %}을 항상 입력해야 한다. -->
	<form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
		{% csrf_token %}
		<!-- 질문 상세 템플릿에 오류 표시 영역을 추가하자. -->
		{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			{% for field in form %}
			{% if field.errors %}
			<strong>{{ field.label }}</strong>
			{{ field.errors }}
			{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<div class="form-group">
			<textarea {% if not user.is_authenticated %}disabled{% endif %}
              name="content" id="content" class="form-control" rows="10">
			</textarea>
		</div>
		<input type="submit" value="답변등록" class="btn btn-primary" />
	</form>
</div>

{% endblock %}

{% block script %}
	<!-- <삭제> 버튼을 누르면 확인 창이 나타나고, 확인 창에서 <확인> 버튼을 누르면 앞서 입력했던 data-uri 속성값으로 URL이 호출된다. 
		<취소> 버튼을 누르면 아무 일도 발생하지 않는다. -->
	<!-- $(document).ready(function())은 화면이 로드된 다음 자동으로 호출되는 제이쿼리 함수이다. -->
	<script type='text/javascript'>
		$(document).ready(function() {
			$(".delete").on('click', function() {
				if(confirm("정말로 삭제하시겠습니까?")) {
					location.href = $(this).data('uri');
				}
			});
		});
	</script>
{% endblock %}
