<!-- question_detail.html -->
<!-- base.html 템플릿 파일을 상속받고자 % extends 'base.html' % 템플릿 태그를 사용했다. 
	그리고 % block content %와 % endblock % 사이에 question_detail.html 파일에서만 사용할 내용을 작성했다. 
	이제 question_detail.html은 base.html을 상속받았으므로 표준 HTML 구조를 갖추게 되었다. -->
{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
	<h2 class="border-bottom py-2">{{ question.subject }}</h2>
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line">
				{{ question.content }}
			</div>
			<div class="d-flex justify-content-end">
				<div class="badge badge-light p-2">{{ question.create_date }}</div>
			</div>
		</div>
	</div>
	<!-- 등록된 답변 표시하기 -->
	<h5 class="border-bottom my-3 py-2">
		{{question.answer_set.count}}개의 답변이 있습니다.
	</h5>
	{% for answer in question.answer_set.all %}
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line">
				{{ answer.content }}
			</div>
			<div class="d-flex justify-content-end">
				<div class="badge badge-light p-2">{{ answer.create_date }}</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<!-- % csrf_token %}는 form 엘리먼트를 통해 전송된 데이터(답변)가 실제로 
	웹 브라우저에서 작성된 데이터인지 판단하는 검사기 역할을 한다. 
	그러므로 <form ...> 태그 바로 밑에 {% csrf_token %}을 항상 입력해야 한다. -->
	<form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
		{% csrf_token %}
		<!-- 질문 상세 템플릿에 오류 표시 영역을 추가하자. -->
		{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			{% for field in form %}
			{% if field.errors %}
			<strong>{{ field.label }}</strong>
			{{ field.errors }}
			{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<div class="form-group">
			<textarea {% if not user.is_authenticated %}disabled{% endif %}
              name="content" id="content" class="form-control" rows="10"></textarea>
		</div>
		<input type="submit" value="답변등록" class="btn btn-primary" />
	</form>
</div>

{% endblock %}