/* style.css */
/* 부트스트랩을 사용하게 되었으니 style.css 파일의 내용 비움
이후 부트스트랩으로 표현할 수 없는 스타일을 위해 사용 목적으로 지우지는 않음 */

/* 
textarea {
  width: 100%;
}

input[type="submit"] {
  margin-top: 10px;
} 
*/

/* 댓글마다 상단에 점선을 추가하고, 글꼴 크기를 0.7em으로 설정하도록 CSS를 작성 */
.comment {
  border-top: dotted 1px #ddd;
  font-size: 0.7em;
}
